*,
::before,
::after{
    box-sizing: border-box;
}

html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    background-image: 
    url('https://repository-images.githubusercontent.com/58559694/aeae5400-6102-11e9-980d-dc74185ed41d');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    border : 50px solid transparent;
    border-image: url('https://static.vecteezy.com/system/resources/previews/007/022/854/original/vintage-floral-ornament-border-hand-drawn-decorative-element-illustration-of-gold-floral-frame-with-black-background-retro-design-template-for-page-decoration-cards-wedding-banner-free-vector.jpg')
    20%
    round;
    padding: 28px;
    background: linear-gradient(
        to right,
        gray,lightgrey
    );
    color: black;
    width: 50%;
    margin :30px auto;
}

h1{
    text-align: center;
    text-shadow: 2px 2px black;
    letter-spacing: 2px;
    font-size: 50px;
}

p{
    margin : auto;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
